.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}
.contenido{
    position: fixed;
    z-index: 1005;
    background-color:black ;
    width: 400px;
    height: auto;
    left: 35%;
    top: 10vh;
    border-radius: 7%;
    color: white;
}
.contenido h2{
    font-size: 40px;
}
.cabecera{
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 1rem;
    -webkit-text-stroke: 1px black;
}
.cabecera>button{
    align-self: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 10%;
}
.modal:not(.revelar){
    display: none;
}
.modal.revelar{
    display: block;
}
.pelis{
    display: flex;
    overflow-x:scroll;
    gap: 10px;
    width: 95%;
    margin: 20px;
    height:200px;
}
body{
    margin: 0;
    padding: 0;
}